@model DoppleWebDemo.Models.FunctionComparison

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FunctionComparison</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstFunctionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstFunctionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondFunctionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondFunctionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreFirstContainedInSecond)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreFirstContainedInSecond)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreSecondContainedInFirst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreSecondContainedInFirst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreTwoWay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreTwoWay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Index }) |
    @Html.ActionLink("Back to List", "Index")
</p>
