@model IEnumerable<DoppleWebDemo.Models.FunctionComparison>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstFunctionCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondFunctionCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScoreFirstContainedInSecond)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScoreSecondContainedInFirst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScoreTwoWay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstFunctionCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondFunctionCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScoreFirstContainedInSecond)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScoreSecondContainedInFirst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScoreTwoWay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Index }) |
            @Html.ActionLink("Details", "Details", new { id=item.Index }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Index })
        </td>
    </tr>
}

</table>
