@model DoppleWebDemo.Models.FunctionComparison

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flowchart</title>
    <meta name="description" content="Interactive flowchart diagram implemented by GoJS in JavaScript for HTML." />
    <!-- Copyright 1998-2017 by Northwoods Software Corporation. -->
    <meta charset="UTF-8">

    <script id="code">
        @{
            var serilizer = new System.Web.Script.Serialization.JavaScriptSerializer();
        }
        var nodeDataArray1 = @Html.Raw(serilizer.Serialize(@Model.FirstFuncNodesAndEdges.Nodes));
        var edgeDataArray1 = @Html.Raw(serilizer.Serialize(@Model.FirstFuncNodesAndEdges.Edges));
        var nodeDataArray2 = @Html.Raw(serilizer.Serialize(@Model.SecondFuncNodesAndEdges.Nodes));
        var edgeDataArray2 = @Html.Raw(serilizer.Serialize(@Model.SecondFuncNodesAndEdges.Edges));
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/go-1.7.11-debug.js")
    @Scripts.Render("~/Scripts/initGraph.js")
</head>
<body onload="init()">
    <table width="100%">
        <tr>
                <!-- The DIV for the Diagram needs an explicit size or else we won't see anything.
                     This also adds a border to help see the edges of the viewport. -->
            <td>
                <div id="myDiagramDiv1" style="border: solid 1px black; height:500px; margin: 1%"></div>
            </td><td>
                <div id="myDiagramDiv2" style="border: solid 1px black; height:500px; margin: 1%"></div>
            </td>
        </tr>
    </table>
</body>
</html>